@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

.scroll-container {
  overflow: auto;
  height: 100vh;
  max-width: 767px;
}

.scroll-area {
  max-width: 767px;
  width: 100%;
  scroll-snap-align: start;
  height: calc(var(--vh, 1vh) * 100);
}
